<p class="lead">Greetings everybody and welcome to VolgaCTF 2017 Quals!</p>

<p class="lead">To take part in the competition, you should sign up with an email address, your team's name (Latin characters only) and a logo. <strong>Warning!</strong> You will not be able to change your team's name once registered so please <a href="https://ctftime.org/stats/" target="_blank">be careful</a> in order not to take other team's name by accident. The number of team members is not limited.</p>

<p class="lead">Please specify a valid email address to get a verification email. It will be <strong>impossible</strong> to change the email address after you confirm your participation by clicking the link in the verification email.</p>

<p class="lead">Besides, we kindly ask you to specify your country in the registration form - we are collecting this information for statistical purposes.</p>

<p class="lead">Teams from Russia are also asked to fill in an institution field.</p>

<p class="lead">The contest starts on March 24 at 19:00 SAMT/15:00 UTC and lasts 48 hours. Flag format is always <code>VolgaCTF{[\x20-\x7F]+}</code> unless stated otherwise. Check the <a href="/news" target="_blank">News</a> page at times - there might be some important pieces of information about the competition. We will answer your questions and make other announcements in <a href="https://t.me/joinchat/AAAAAEJqPUR2OoBUXwRgBQ" target="_blank">Telegram public chat</a>. Technical support is also provided by email <a href="mailto:quals2017@volgactf.ru">quals2017@volgactf.ru</a>.</p>

<p class="lead">Competitors are forbidden to perform destructive actions against competition infrastructure (<code>*.volgactf.ru</code> and <code>*.volgactf.org</code>) and to prevent other teams from playing. A team violating the rules will be disqualified.</p>

<p class="lead">While conversing in Telegram public chat, you are expected to be respectful to each other and to restrain from using swear words. Exchanging flags is strictly prohibited. A person asking for, or trading their flags will be expelled from the chat.</p>

<p class="lead">We reserve the right to amend these regulations at any time. Final round regulations will be made available later.</p>
